# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# master
#/component
#/componentPDF
#/constants
#/features
#/hooks
#/pages
#/public
#/styles
#/utils
#.env
#.eslintrc.json
#.prettierrc
#next-env.d.ts
#next.config.js
#package.json
#README.md
#tsconfig.json
#yarn.lock

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# mac
.idea

